if SHIELD_COOL640TB_R

config ZMK_KEYBOARD_NAME
    default "cool640tb_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_COOL640TB_L

config ZMK_KEYBOARD_NAME
    default "cool640tb_L"

config ZMK_SPLIT
    default y

endif
